<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona</title>
</head>
<body>
    <main>
        <h2>Take your heart</h2>
        <img src="./images/tyh.png" alt="Take your heart">
        <h2>Persona 3</h2>
        <img src="./images/pum.jpg" alt="Yukari">
    </main>
</body>
</html>