<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Esto es la principal</h1></center>
    <h2>Wenas!!</h2>
    <img src="./images/hola.jpg" alt="Wenas">
    <h3>Paginas</h3>
    <ul>
        <li>/p5</li>
        <li>/lore</li>
        <li>/usuario/"usuario"/"edad"/"numero"</li>
        <li>/kawakami/"SI - NO"</li>
        <li>Busqueda</li>
        <ul>
            <li>simp</li>
            <li>levantese</li>
            <li>sabias</li>
            <li>zzz</li>
            <li>abogado</li>
        </ul>
    </ul>
</body>
</html>